@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0 auto;

	font-family: 'Nanum Pen Script', cursive;
	font-family: 'Noto Sans KR', sans-serif;
}

h1 {
	font-size: 20px;
	font-weight: bold;
}
