@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --vh: 100%
}

html, body {
    height: 100vh;
    height: var(--vh);
}

body {
    margin: 0 auto;

    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Noto Sans KR', sans-serif;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}
